.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 1px !important;
}

.react-datepicker-popper[data-placement^="top"] {
  margin-bottom: 1px !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  background-color: #FFF !important;
  border-bottom: 1px solid #e2e8f0 !important;
  border-top-left-radius: 0.5rem !important;
}

.react-datepicker__day-name {
  font-weight: 600;
  color: #323338 !important;
}

.react-datepicker__day {
  color: #323338 !important;
  outline: 0 !important;
}

.react-datepicker__day--selected {
  color: #FFF !important;
  background-color: #0085FF !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}
.react-datepicker__day--keyboard-selected:focus {
  box-shadow: unset;
}

.react-datepicker__input-time-container {
  margin: 0 !important;
}
.react-datepicker-time__caption {
  display: none !important;
}
.react-datepicker-time__input-container {
  width: 100%;
  padding: 8px;
  display: block !important;
}
.react-datepicker-time__input {
  margin: 0 !important;
  display: block !important;
}

.react-datepicker {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  color: #323338 !important;
  border: none !important;
  border-radius: 0.5rem !important;
  @apply .shadow-sm;
}
