body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323338;
}

a {
  color: #1F76C2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
